.coverage
*.egg-info
*.log
*.mo
*.py?
*.swp
*.sublime-workspace
*.sublime-project
.mr.developer.cfg
.installed.cfg
buildout.cfg
lib64
log.html
output.xml
pip-selfcheck.json
report.html

#dirs
bin/
buildout-cache/
develop-eggs/
eggs/
htmlcov/
include/
lib/
local/
parts/
var/
src/*
.idea/
share/

# excludes
!.coveragerc
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.travis.yml

